
testV1/.classpath
testV1/.project
testV1/.settings/.jsdtscope
testV1/.settings/org.eclipse.core.resources.prefs
testV1/.settings/org.eclipse.jdt.core.prefs
testV1/.settings/org.eclipse.m2e.core.prefs
testV1/.settings/org.eclipse.m2e.wtp.prefs
testV1/.settings/org.eclipse.wst.common.component
testV1/.settings/org.eclipse.wst.common.project.facet.core.xml
testV1/.settings/org.eclipse.wst.jsdt.ui.superType.container
testV1/.settings/org.eclipse.wst.jsdt.ui.superType.name
testV1/.settings/org.eclipse.wst.validation.prefs
testV1/target/classes/com/testV1/dao/UserDao.class
testV1/target/classes/com/testV1/entity/User.class
testV1/target/classes/com/testV1/pojo/Result.class
testV1/target/classes/com/testV1/pojo/SaveUserPojo.class
testV1/target/classes/com/testV1/service/impl/UserServiceImpl.class
testV1/target/classes/com/testV1/service/UserService.class
testV1/target/classes/com/testV1/web/UserController.class
testV1/target/classes/jdbc.properties
testV1/target/classes/logback.xml
testV1/target/classes/mapper/UserDao.xml
testV1/target/classes/mybatis-config.xml
testV1/target/classes/spring/spring-dao.xml
testV1/target/classes/spring/spring-service.xml
testV1/target/classes/spring/spring-web.xml
testV1/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
testV1/target/m2e-wtp/web-resources/META-INF/maven/testgroup/testV1/pom.properties
testV1/target/m2e-wtp/web-resources/META-INF/maven/testgroup/testV1/pom.xml
